# Virtual environments
.venv/
venv/
env/
ENV/

# Python compiled caching mappings
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Databases & local environment keys
.env
frontend/emails/Ticket_*.html
